body {
    font-family: Arial, sans-serif;
}

.login {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login input[type="submit"] {
    margin-top: 10px;
}
*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
    
        /* Main styles */
        body {
          font-family: Arial, sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: #f6f6f6;
        }
    
        .email-verification-container {
          max-width: 600px;
          background-color: #ffffff;
          padding: 40px;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        .email-verification-title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }
    
        .email-verification-content {
          font-size: 16px;
          margin-bottom: 30px;
        }
    
        .email-verification-button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #007bff;
          color: #ffffff;
          text-decoration: none;
          border-radius: 5px;
        }

       
        
        .visit-report {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            width: 600px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 0 auto;
        }
        
        h2 {
            margin-bottom: 20px;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            background-color: #f2f2f2;
        }
        .weather-info {
                        background-color: #fff;
                        border-radius: 10px;
                        padding: 20px;
                        width: 600px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        margin: 0 auto;
                    }